.navbar {
  overflow: hidden;
  /* background-color: red; */
}
.navbar ul li {
  list-style: none;
  display: flex;
  align-items: center;
  /* padding: 1rem; */
  padding: 0.5rem;
  justify-content: flex-start;
  border-radius: 5px;
}

.navbar ion-icon {
  font-size: 0.8rem;
}

.navbar span {
  margin-right: 0.2rem;
}
.navbar h1 {
  font-size: 0.8rem;
}

li:hover {
  background-color: green;
}
