@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap");

/* https://www.blockmate.io/blog/how-to-build-the-personal-finance-management-app-in-5-minutes-using-react-and-blockmate-web3-api */
/* https://app.uizard.io/templates/PjXBoyAKjWFnZZK7AnA5/fullscreen */

@import url("./components/login.css");
@import url("./components/expenses.css");
@import url("./components/navbar.css");
@import url("./components/dashboard.css");
@import url("./components/expenseForm.css");

@import url("./default.css");
@import url("./layout.css");

/* Elements Style */
@import url("./elements/button.css");

:root {
  --btn-color: rgb(0, 102, 255);
  --btn-color-text: #fff;
  --btn-color-hover: rgb(14, 82, 185);
  --btn-color-active: rgb(10, 70, 160);

  --nav-bar-color: #191919;
  --dark-color: #151515;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url("./images/background.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: white;
}

body::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

::selection {
  background-color: #252525;
  color: white;
}

/* .item-grid td {
  background-color: red;
}

.item-grid table {
  border-spacing: 5px;
} */
