button {
  cursor: pointer;
  color: var(--btn-color-text);
  background-color: var(--btn-color);
  border: none;
  border-radius: 6px;
  padding: 0.5rem 0;
  padding-top: 0.75rem;
  font-size: 1rem;
  width: min(25rem, 100%);
}

button:hover {
  background-color: var(--btn-color-hover);
  transition: background 0.15s ease-in-out;
}

button:active {
  background-color: var(--btn-color-active);
}
